@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+Thambi+2:wght@700&display=swap');

@font-face {
    font-family: "Pixel";
    src: url(/fontes/Pixel.ttf);
}

:root {
    --light: #d8dbe0;
    --dark: #28292c;
    --link: rgb(27, 129, 112);
    --link-hover: rgb(24, 94, 82);
}

* {
    padding: 0;
    margin: 0;
    /*font-family: 'Archivo Black', sans-serif; */
    font-family: 'Baloo Thambi 2', sans-serif;
    box-sizing: border-box;
    -webkit-user-drag: none;
}

html {
    height: 100%;
    width: 100%;
}


#cursor {
    background-color: #ffffff;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(-30%, -30%);
    z-index: 99999;
    mix-blend-mode: difference;
}

::selection {
    color: #ffffff;
    background-color: #C70F1F;
}

a {
    text-decoration: none;
}

body {
    height: 100%;
    width: 100%;
    padding: 15px 15px 0 15px;
    display: flex;
    background-color: #000000;
    cursor: url("/fotos/icons8-select-cursor-48.png"), auto;
    position: fixed;
    top: 0;
    left: 0;
}

body.dark {
    background-color: #3f3f3f;
    transition: 1s;
}

main {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
}

.menu-lateral {
    width: 300px;
    height: 380px;
    display: none;
    flex-direction: column;
    position: absolute;
    right: 0;
    top: 82px;
    z-index: 9999;
    box-shadow: 8px 8px 0 0 #000;

}

.box-lateral {
    display: flex;
    align-items: center;
    height: 95px;
    background-color: #c4c4c4;
    border: 2px solid black;
}

.box-lateral a {
    width: 100%;
    height: 100%;
    padding-top: 20px;
    font-size: 2em;
    color: black;
    padding-left: 15px;
    user-select: none;
    background-color: #c4c4c4;

}

.box-lateral:hover,
.box-lateral a:hover {
    background-color: black;
    color: white;
}

.menu-fixo {
    width: 100%;
    background-color: #c4c4c4;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 7px 7px 0px 0px;
    border-bottom: 4px solid #000;
}

.menu-fixo.dark {
    background-color: #282828;
    border-bottom: 4px solid #01DBC6;
    transition: 1s;
}

.header-fk-darkmode {
    display: flex;
    height: 100%;
    width: 20%;
}

.header-fk-darkmode-wrap {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    gap: 30px;
    padding-left: 15%;
}

.fk {
    position: relative;
    color: black;
    margin: 15px 0 15px 10%;
    font-size: 2em;
}

.fk.dark {
    color: #E8E8E8;
    transition: 1s;
}

.fk.dark::before {
    background-color: #282828;
    transition: 1s;
}


.fk::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #c4c4c4;
    animation: showRight 1s ease forwards;
    animation-delay: .4s;
}


#dark-mode {
    font-size: 1.35em;
}

#dark-mode.dark {
    color: white;
    transition: 1s;
}

.toggle-switch {
    position: relative;
    transform: scale(0.18);
    padding-bottom: 80px;
}

label {
    position: absolute;
    width: 200px;
    height: 100px;
    background-color: var(--light);
    border-radius: 50px;
    cursor: pointer;
}

input {
    position: absolute;
    display: none;
}

.slider {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50px;
    transition: 0.3s;
}

input:checked~.slider {
    background-color: var(--dark);
}

.slider::before {
    content: "";
    position: absolute;
    top: 13px;
    left: 16px;
    width: 75px;
    height: 75px;
    border-radius: 50%;
    background-color: var(--dark);
    transition: 0.3s;
}

input:checked~.slider::before {
    transform: translateX(95px);
    background-color: var(--dark);
    box-shadow: inset 28px -4px 0px 0px var(--light);
    
}


.navbar {
    padding: 15px 5%;
    position: relative;
}


.navbar::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #c4c4c4;
    animation: showRight 1s ease forwards;
    animation-delay: 0.5s;
    border-radius: 7px 7px 0px 0px;
}

.navbar.dark::before {
    background-color: #282828;
    transition: 1s;
}

.navbar a[aria-current="page"] {
    color: #A1A194;
}


.navlink1,
.navlink2,
.navlink3,
.navlink4,
.navlink5,
.navlink6,
.navlink7 {
    color: #000000;
    padding: 18.52px 20px 19px;
    font-size: 1.8em;
}

.navlink1.dark,
.navlink2.dark,
.navlink3.dark,
.navlink4.dark,
.navlink5.dark,
.navlink6.dark,
.navlink7.dark {
    color: #E8E8E8;
    transition: 1s;
}


.navbar a:hover {
    background-color: #000000;
    color: white;
}


#menu-hamburguer {
    display: none;
    padding: 15px 10%;
    font-size: 2em;
}

#conteudo-total {
    width: 100%;
    height: 100%;
    background-color: white;
    overflow: scroll;
    overflow-x: hidden;
    scroll-behavior: smooth;
    display: flex;
    flex-direction: column;
    position: relative;
    border-radius: 0px 0px 5px 5px;
}

#conteudo-total.dark::-webkit-scrollbar-thumb {
    background-color: #282828;
    border-color: #383838;
}

#conteudo-total.dark::-webkit-scrollbar-thumb:hover {
    background-color: #282828;
}

#conteudo-total::-webkit-scrollbar {
    width: 25px;
}

#conteudo-total::-webkit-scrollbar-track {
    background: url("https://assets.website-files.com/5e83fdebae1ad8747ffce684/5e864de332df030389abf5bd_pattern-grey.svg");
    background-size: 6px;
    border-left: 4px solid #000000;
}

#conteudo-total::-webkit-scrollbar-thumb {
    background: #c4c4c4;
    border: 4px solid #000000;
    border-right: none;
}

#conteudo-total::-webkit-scrollbar-thumb:hover {
    background-color: #ffffff;
}

#conteudo-total::-webkit-scrollbar-thumb:active {
    background-color: white;
}

/* section {
    min-height: 1000px;
} */

#index {
    width: 100%;
    min-height: 840px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-bottom: 7px solid black;
    background-color: rgb(255, 255, 255);
    padding-left: 8%;
    padding-bottom: 5%;
    background-color: #ffffff;
    position: relative;
}

#index.dark {
    background-color: #171717;
    transition: 1s;
}

.Conteudo-Index {
    width: 700px;
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: #ffffff;
}



.Conteudo-Index::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgb(255, 255, 255);
    animation: showRight 1s ease forwards;
    animation-delay: .8s;
}

.Conteudo-Index.dark {
    background-color: #171717;
    transition: 1s;
}

.Conteudo-Index.dark::before {
    background: #171717;
    transition: 1s;
}

.ola-wrap {
    align-items: center;
    display: flex;
    height: 30px;

}

.Conteudo-Index h6 {
    font-size: 1.8vw;
    color: black;
    position: relative;
    z-index: 1;
}




.ola-wrap-h6::before,
.swipeh6::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    animation: showRight 1s ease forwards;
}

.ola-wrap-h6.dark {
    color: #E8E8E8;
    transition: 1s;
}

.ola-wrap-h6.dark::before {
    background: #171717;
    transition: 1s;
}

.swipeh6.dark {
    color: #E8E8E8;
    transition: 1s;
}

.swipeh6.dark::before {
    background-color: #171717;
    transition: 1s;
}

.fernando-wrap {
    align-items: center;
    display: flex;
    height: 100px;
}

.fernandokohn,
.fernandokohn2 {
    font-size: 5.5em;
    position: relative;
    color: #C13A4B;
}

.fernandokohn.dark {
    color: #01DBC6;
    transition: 1s;
}

.fernandokohn2.dark {
    color: #01DBC6;
    transition: 1s;
}


.fernandokohn::before,
.fernandokohn2::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgb(255, 255, 255);
    animation: showRight 1s ease forwards;
    animation-delay: 1s;
}

.fernandokohn.dark::before,
.fernandokohn2.dark::before {
    background: #171717;
    transition: 1s;
}

.fernandokohn:hover,
.fernandokohn2:hover {
    color: #292B2E;
    transition: .7s;
}


.Conteudo-Index h2 {
    position: relative;
    font-size: 2.7vw;
    bottom: 8%;
    color: black;
}


.Conteudo-Index h2::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgb(255, 255, 255);
    animation: showRight 1s ease forwards;
    animation-delay: .8s;
}

.efeito-wrap-h2.dark {
    color: #E8E8E8;
    transition: 1s;
}

.efeito-wrap-h2.dark::before {
    background: #171717;
    transition: 1s;
}


.Conteudo-Index h4 {
    color: black;
    font-size: 2vw;
    position: relative;
    text-align: justify;
}

.Conteudo-Index-h4-1.dark {
    color: #E8E8E8;
    transition: 1s;
}

.Conteudo-Index-h4-2.dark {
    color: #E8E8E8;
    transition: 1s;
}


.Conteudo-Index h4::before,
.swiper-slide h4::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgb(255, 255, 255);
    animation: showRight 1s ease forwards;
    animation-delay: 1.6s;
}

.swipeh4.dark {
    color: #E8E8E8;
    transition: 1s;
}

.swipeh4.dark::before {
    background-color: #171717;
    transition: 1s;
}

.Conteudo-Index-h4-1.dark::before,
.Conteudo-Index-h4-2.dark::before {
    background: #171717;
    transition: 1s;
}

.swipeh2.dark {
    color: #E8E8E8;
    transition: 1s;
}

.Efeito-digitado {
    color: #C13A4B;
}

.Efeito-digitado.dark {
    color: #01DBC6;
    transition: 1s;
}

.Efeito-digitado-2.dark {
    color: #01DBC6;
}


.mais-sobre-mim-wrap {
    width: 80%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}


.mais-sobre-mim {
    width: 60%;
    height: 100%;
    position: relative;
    overflow: hidden;
    justify-content: center;
    align-items: center;
}


.mais-sobre-mim::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgb(255, 255, 255);
    animation: showRight 1s ease forwards;
    animation-delay: 1.8s;
    z-index: 2;
}



.mais-sobre-mim h1 {
    position: relative;
    color: #000000;
    background-color: #C4C4C4;
    font-size: 1.8em;
    padding: 10px 0px 10px 0px;
    border-style: solid;
    border-width: 3px;
    text-align: center;
    border-color: rgb(0, 0, 0);
    z-index: 1;
    overflow: hidden;
}


.mais-sobre-mim h1:hover {
    border-color: black;
    color: white;
}



.mais-sobre-mim h1::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: #282828;
    z-index: -1;
    transition: .5s;
}



.mais-sobre-mim h1:hover::before {
    width: 100%;
}

.mais-sobre-mim.dark::before,
#mais.sobre-mim2.dark::before {
    background: #171717;
    transition: 1s;
}

.mais-sobre-mim-h1.dark {
    border-color: #ffffff;
    background-color: #383838;
    ;
    color: #E8E8E8;
    transition: 1s;
}

#mais-sobre-mim2-h1.dark {
    border-color: #ffffff;
    background-color: #383838;
    ;
    color: #E8E8E8;
    transition: 1s;
}


.butao-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    padding-top: 15px;
}

.caixa-butao {
    display: flex;
    justify-content: center;
    align-self: center;
    gap: 30px;
    position: relative;
    margin-top: 10px;
}


.caixa-butao::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgb(255, 255, 255);
    animation: showRight 1s ease forwards;
    animation-delay: 1.8s;
}


.caixa-butao a {
    color: #292B2E;
    display: inline-flex;
    justify-content: center;
    text-decoration: none;
    font-size: 3.2vw;
}


.caixa-butao i:hover {
    color: #C13A4B;
    transition: 1s;
}

.caixa-butao.dark::before,
#cx-bt2.dark::before {
    background: #171717;
    transition: 1s;
}

.caixa-butao-a1.dark,
.caixa-butao-a2.dark,
#cx-bt-a3.dark,
#cx-bt-a4.dark {
    color: #E8E8E8;
    transition: 1s;
}

.scroll-bola {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 100%;
    font-size: 1.5em;
    color: #000000a4;
    gap: 15px;
    margin-top: 15px;
}

.bola1 {
    background-color: #aa9df0;
}

.foto-perfil {
    /*background-image: url("https://assets.website-files.com/ 5e87e737ee7085b9ba02c101/5e87e737ee7085fccd02c10d_pattern-grey.svg"); */
    opacity: 0;
    animation: zoomIn 1s ease forwards, floatImage 5s ease-in-out infinite;
    animation-delay: 1s, 2s;
    width: 800px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 20px;
    margin-right: 20px;
}

.foto-perfil img {
    width: 100%;
}

.swiper-container {
    display: none;
    width: 100%;
    height: 60%;
    position: relative;
}

.swiper-slide {
    width: 100%;
    height: 100%;
    padding: 40px;
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    justify-content: center;
    /* animation: zoomIn 1s ease forwards, floatImage 5s ease-in-out infinite;
    animation-delay: 1s, 2s; */
}

.swiper-slide.dark {
    background-color: #171717;
    transition: 1s;
}

.swiper-pagination-bullet {
    display: flex;
    width: 50px;
    height: 50px;
    position: relative;
    top: 30px;
}

#swipeimg {
    display: flex;
    align-items: center;
    justify-content: center;
}

#swipeimg.dark {
    background-color: #171717;
    transition: 1s;
}

#swipeimg img {
    padding-right: 40px;
    width: 90%;
    animation: zoomIn 1s ease forwards, floatImage 5s ease-in-out infinite;
    animation-delay: 1s, 2s;
}

.index-460res {
    display: none;
    width: 100%;

}

.img-460 {
    display: flex;
    position: absolute;
}

.img-460 img {
    width: 100vw;
}


.bola-460 {
    margin-top: 400px;
    width: 101%;
    height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    background: url(/fotos/div\ bola\ background.png);
    background-size: cover;
}

.bola-460.dark {
    background: url(/fotos/divbola2.png);
    transition: 1s;
}


.bola-texto {
    position: absolute;
    top: -80px;
    display: flex;
    flex-direction: column;
    align-self: center;
    text-align: center;
    width: 310px;
    height: 250px;
    background-color: #fffefe;
    color: rgb(0, 0, 0);
    box-shadow: 8px 8px 0 0 #000;
}

.bola-texto.dark {
    background-color: #171717;
    transition: 1s;
}

.bola-texto header {
    width: 100%;
    height: 40px;
    background-color: #C4C4C4;
    display: block;
    border-bottom: 3px solid black;
}

.bola-texto header.dark {
    background-color: #383838;
    transition: 1s;
}

.bola-texto header img {
    position: absolute;
    top: 7px;
    left: 0;
    width: 50px;
}

.bola-texto h6 {
    font-size: 40px;
}

.bola-texto h6.dark {
    color: #E8E8E8;
    transition: 1s;
}

.bola-texto h1 {
    font-size: 60px;
    color: #C13A4B;
    line-height: 60px;

}

.bola-texto h1.dark {
    color: #01DBC6;
    transition: 1s;
}

#efeito-wrap-460 {
    display: flex;
    flex-direction: row;
    padding-top: 170px;
    gap: 10px;

}

#efeito-wrap-460.dark {
    color: #E8E8E8;
    transition: 1s;
}

#efeito-wrap-460 h2 {
    font-size: 35px;
}

.Efeito-digitado-3.dark {
    color: #01DBC6;
    transition: 1s;
}

.bola-descri {
    display: flex;
    flex-direction: column;
    width: 1;
    font-size: 25px;
    text-align: center;
}

.bola-descri.dark {
    color: #E8E8E8;
}

.bola-descri h3 {
    font-size: 41px;
}

.sobremim-460-wrap {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
}

.sobremim-460 {
    width: 300px;
    height: 60px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    border: 4px solid black;
}

.sobremim-460.dark {
    border-color: #ffffff;
    background-color: #383838;
    ;
    color: #E8E8E8;
    transition: 1s;
}



.sobremim-460 a {
    font-size: 20px;
    color: black;

}

.sobremim-460 a.dark {
    color: #E8E8E8;
}


.butao-wrap-460 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-top: 15px;
}

.caixa-butao-460 {
    display: flex;
    justify-content: center;
    align-self: center;
    gap: 30px;
    position: relative;
    margin-top: 10px;
}

.caixa-butao-460 a {
    color: #292B2E;
    display: inline-flex;
    justify-content: center;
    text-decoration: none;
    font-size: 9vw;
}

#cx-bt-05.dark,
#cx-bt-06.dark {
    color: #E8E8E8;
    transition: 1s;
}

#cx-bt-05.dark:hover,
#cx-bt-06.dark:hover {
    color: #01DBC6;
    transition: 1s;
}



#botao-wrap-460 {
    border-radius: 10px;
}

.sobre {
    background-image: url(https://assets.website-files.com/5e87e737ee7085b9ba02c101/5e87e737ee7085fccd02c10d_pattern-grey.svg);
    background-size: 6px;
    overflow: visible;
    scroll-margin-top: -75px;
    min-height: 1000px;

}

.sobre.dark {
    background-image: url("/fotos/pretopng.png");
    background-size: 6px;
    transition: 1s;
}

.Botao-sobre {
    margin: auto;
    align-items: center;
    justify-content: center;
    position: relative;
    top: -40px;
    background-color: #C4C4C4;
    border: 4px solid black;
    width: 20%;
    height: 65px;
    display: flex;
    font-size: 1.5em;
}

.Botao-sobre.dark {
    border-color: #ffffff;
    background-color: #383838;
    ;
    color: #E8E8E8;
    transition: 1s;
}

.Botao-sobre h1 {
    position: absolute;
}

.Botao-sobre i {
    position: absolute;
    right: 10px;
    font-size: 50px;
}

.conteudo-sobre {
    display: flex;
    width: 100%;
    height: 100%;
    gap: 100px;
}

.janela-sobre {
    background-color: #94a197;
    width: 750px;
    height: 750px;
    margin-left: 5%;
    margin-top: 2%;
    border: 3px solid black;
    box-shadow: 8px 8px 0 0 #000;
    display: flex;
    flex-direction: column;
}

.janela-sobre.dark {
    border-color: #000000;
    transition: 1s;
}

.janela-sobre-header {
    background-color: #C4C4C4;
    align-items: center;
    display: flex;
    height: 50px;
    border-bottom: 3px solid black;
    position: relative;
    justify-content: center;
}

.janela-sobre-header.dark {
    background-color: #383838;
    /* border: 3px solid white; MANTER BORDA BRANCA? */
    color: #E8E8E8;
    transition: 1s;
}

.janela-sobre-header h1 {
    font-size: 1.9em;
}

.janela-sobre-header img {
    position: absolute;
    left: 0;
}

.conteudo-janela-sobre {
    background-color: #ffffff;
    height: 100%;
    width: 100%;
    text-align: justify;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;


}

.conteudo-janela-sobre.dark {
    background-color: #292B2E;
    transition: 1s;
}

.conteudo-janela-sobre img {
    width: 30px;
}

.sobre-1,
.sobre-2,
.sobre-3,
.sobre-4 {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 10px;
}


.titulo1,
.titulo2,
.titulo3,
.titulo4 {
    font-size: 35px;
    color: #C13A4B;
}

.titulo1.dark,
.titulo2.dark,
.titulo3.dark,
.titulo4.dark {
    color: #01DBC6;
    transition: 1s;
}

.sobre-descricao1.dark,
.sobre-descricao2.dark,
.sobre-descricao3.dark,
.sobre-descricao4.dark {
    color: #E8E8E8;
    transition: 1s;
}

.descricao {
    font-size: 25px;
}

.habilidades {
    width: 45%;
    height: 600px;
    margin-top: 5%;
    margin-right: 3%;
    border: 3px solid black;
    box-shadow: 8px 8px 0 0 #000;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    position: relative;
    z-index: 0;
    background-color: #000000;
}


.habilidades-header {
    height: 50px;
    width: 100%;
    border-bottom: 3px solid black;
}



.header-wrap1,
.header-wrap2 {
    height: 100%;
    width: 100%;
    background-color: #aa9df0;
    align-items: center;
    display: flex;
    justify-content: center;
}

.header-wrap1.dark,
.header-wrap2.dark {
    background-color: #01DBC6;
    color: #3f3f3f;
    transition: 1s;
}

.habilidades-header h1 {
    font-size: 1.9em;
}

#botao-redondo-header-habilidades {
    position: absolute;
    left: 0;
}

.habilidades-conteudo {
    width: 100%;
    height: 490px;
    z-index: 1;
    display: flex;
    background: url(../fotos/desktop-background-teste2.jpg);
}



.pasta-habilidade {
    width: 20%;
    height: 25%;
    justify-content: center;
    align-items: center;
    color: white;
    display: flex;
    flex-direction: column;
    margin: 15px 0 0 10px;
    position: absolute;
    z-index: 1;
}

.pasta-habilidade:hover {
    background-color: #cacaca31;
    border-radius: 7%;
}

.pasta-habilidade img {
    width: 40%;
    padding-bottom: 8px;
}

.pasta-habilidade h1 {
    font-size: 1.3em;
}


.habilidades-janela {
    background-color: rgb(255, 255, 255);
    width: 550px;
    height: 300px;
    border: 3px solid black;
    border-radius: 5px;
    display: none;
    position: absolute;
    z-index: 3;
    transform: scale(0.8);
}



.habilidades-janela-header {
    height: 50px;
    border-bottom: 3px solid black;
    display: flex;
}

#botao-fechar {
    position: absolute;
    left: 5px;
    font-size: 2.5em;
    transition: 1s;
}

#botao-fechar.dark {
    color: black;

}

#botao-fechar:hover {
    color: red;
}

.habilidades-janela-header h1 {
    font-size: 1.7em;
}


.habilidades-janela-index {
    padding-top: 22px;
    display: flex;
    justify-content: space-around;
}

.habilidades-janela-index img {
    width: 140px;
    -webkit-user-drag: none;
}

.barra {
    transform: scale(1.2);
    margin-left: 10px;
    width: 120px;
    border: 2px solid rgb(0, 0, 0);
    height: 20px;
    border-radius: 10px;
    overflow: hidden;
}

.barra span {
    display: block;
    background-color: #C13A4B;
    height: 100%;

}

.porcentagem {
    text-align: center;
    font-size: 1.82em;
}

#barra-js {
    width: 45px;
}

#barra-html,
#barra-css {
    width: 60px;
}

.taskbar-janelas {
    position: absolute;
    bottom: 58px;
    left: 0;
    display: flex;
    width: 45%;
    height: 300px;
    z-index: 2;
}

.iniciar-wrap {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
}

.iniciar {
    width: 100%;
    height: 100%;
    background-color: #c4c4c4;
    border-radius: 10px 10px 0px 0px;
    display: flex;
    flex-direction: column;
}

.search-box {
    margin-top: 10px;
    width: 100%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
}

#input-procurar {
    width: 300px;
    height: 40px;
    border-radius: 20px;
    border: none;
    text-align: center;
    background-image: url("/fotos/search-regular-24.png");
    background-position: 10% 55%;
    background-size: 25px;
    background-repeat: no-repeat;
    outline: none;
    font-size: 1.0em;

}

#search-icone {
    font-size: 1.5em;
    padding: 5px;
    color: rgb(0, 0, 0);
}


#aplicacoes-h1 {
    padding-top: 15px;
    margin-left: 10px;
}

.iniciar-conteudo {
    height: 100%;
    display: flex;
    padding-top: 10px;
    margin-left: 3px;
}


.iniciar-conteudo-habilidades-icone {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 90px;
}

.iniciar-conteudo-habilidades-icone h1 {
    font-size: 1.0em;
}

.iniciar-conteudo-habilidades-icone:hover {
    background-color: #49494931;
    border-radius: 7%;
}

#aplicacoes-folder {
    width: 50px;
}

.iniciar-usuario {
    background-color: #9c9c9c;
    border-top: 2px solid black;
    height: 50%;
    font-size: 2em;
    display: flex;
    align-items: center;
    padding-left: 10px;
}

.iniciar-usuario h1 {
    font-size: 0.6em;
    padding-left: 5px;
}

.iniciar-usuario-hover {
    display: flex;
    width: 87%;
    padding: 5px;
}

.iniciar-usuario-hover:hover {
    background-color: #ffffff46;
    border-radius: 5px;
}

.geren-tarefas-wrap {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
}

.geren-tarefas {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    color: black;
    background-color: #c4c4c4;
    border-radius: 10px 10px 0px 0px;
}

.geren-tarefas-titulo {
    padding: 5px;
    margin-top: 5px;

}

.table-head {
    display: flex;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    border-collapse: collapse;
    background-color: #9c9c9c;
}

.table-head-celula-1 {
    width: 45%;
}

.table-head-celula-2 {
    width: 32%;
}

.table-head-celula-3 {
    width: 25%;
}

.table-head h1 {
    border-right: 1px solid black;
    padding-left: 5px;
}

.tabela-conteudo {
    display: flex;
    height: 100%;
    background-color: #9c9c9c;
}

.tabela-nome {
    width: 45%;
    border-right: 1px solid black;
    display: flex;
    flex-direction: column;
}

.tabela-nome div {
    display: flex;
}

.tabela-nome h1 {
    padding: 5px;
}

#folder-gerenciador {
    width: 20%;
    padding: 5px;
}

.tabela-status {
    width: 31.6%;
    border-right: 1px solid black;
}

.tabela-status h3 {
    padding-left: 8px;
    padding-top: 3px;

}

.tabela-cpu {
    width: 25%;
    border-right: 1px solid black;
}

.tabela-cpu h3 {
    padding-left: 8px;
    padding-top: 3px;
    background-color: #e2203a;

}

.celula-invisivel {
    visibility: hidden;
    padding: 4px;
}

#aplicativo {
    display: flex;
    visibility: hidden;
}

#status {
    display: none;
}

#cpu-numero {
    display: none;
}

#opcoes-wrap {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
}

.opcoes {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    color: black;
    background-color: #c4c4c4;
    border-radius: 10px 10px 0px 0px;
}


.opcoes-h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    border-bottom: 2px solid black;
}

.opcoes-conteudo {
    padding: 5px 0 0 10px;
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: #9c9c9c;
}

#papeldeparede {
    padding-top: 10px;
}

.opcoes-imagens {
    display: flex;
    margin-top: 15px;
}

.opcoes-imagens img {
    margin-right: 20px;
    width: 30%;
    height: 70px;
    border: 3px solid rgb(0, 0, 0);
}

.opcoes-lingua {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding-top: 10px;
    margin-top: 10px;

}

#linguas {
    display: flex;
    margin-top: 10px;
    gap: 10px;
}

#linguas h1 {
    padding: 10px;
}

#pt,
#en,
#cr {
    border-radius: 30px;
    transition: 0.3s;
}

.habilidades-rodape {
    width: 100%;
    height: 60px;
    display: flex;
    background-color: #c4c4c4;
    position: relative;
}

.desktop-icones {
    display: flex;
    position: absolute;
    height: 100%;
    width: 20%;
}


.relogio-data {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* Align horizontal */
    align-items: end;
    /* Align vertical */
    width: 15%;
    height: 100%;
    padding: 10px;
    padding-top: 15px;
    border: 2px solid black;
    position: absolute;
    right: 0;
}

#relogio {
    font-family: "Pixel";
    font-size: 17px;
    vertical-align: middle;
}

#data {
    font-family: "Pixel";
    font-size: 12px;
}

#projetos {
    background-color: white;
    display: flex;
    min-height: 1100px;
    flex-direction: column;
    border-top: 3px solid black;
    scroll-margin-top: -100px;
}

#projetos.dark {
    background-color: #171717;
    transition: 1s;
}

#projetos-titulo {
    font-size: 5em;
    padding: 5% 0 1% 11%;
}

#projetos-titulo.dark {
    color: #E8E8E8;
    transition: 1s;
}

.projetos-container {
    max-width: 85%;
    min-height: 700px;
    margin-left: 11%;
    position: relative;
    display: flex;
}

.projetos-container header {
    background-color: #C4C4C4;
    height: 100px;
    border-bottom: 5px solid black;
    display: flex;
}

.projeto-header1.dark,
.projeto-header2.dark,
.projeto-header3.dark,
.projeto-header4.dark {
    background-color: #383838;
    color: #E8E8E8;
    transition: 1s;
}

.projeto-header-wrap {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.projeto-header-error {
    font-size: 1.8em;
    position: absolute;
}

.projeto-header-i {
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    height: 100%;
    align-items: center;
    font-size: 2.5em;
}

.proj-1 {
    display: flex;
    flex-direction: column;
    position: absolute;
    background-color: white;
    top: 0;
    left: 0;
    width: 50%;
    height: 420px;
    border: 5px solid black;
    z-index: 1;
    box-shadow: 8px 8px 0 0 #000;
}

.proj-2 {
    display: flex;
    flex-direction: column;
    box-shadow: 8px 8px 0 0 #000;
    position: absolute;
    top: 13%;
    left: 35%;
    background-color: white;
    width: 50%;
    height: 420px;
    border: 5px solid black;
    z-index: 2;
}

.proj-3 {
    display: flex;
    flex-direction: column;
    box-shadow: 8px 8px 0 0 #000;
    position: absolute;
    top: 25%;
    left: 5%;
    background-color: white;
    width: 50%;
    height: 420px;
    border: 5px solid black;
    z-index: 3;
}

.proj-4 {
    display: flex;
    flex-direction: column;
    box-shadow: 8px 8px 0 0 #000;
    position: absolute;
    top: 40%;
    left: 30%;
    background-color: white;
    width: 50%;
    height: 420px;
    border: 5px solid black;
    z-index: 4;
}

.projeto-img {
    background: url(https://assets.website-files.com/5e87e737ee7085b9ba02c101/5e87e737ee7085fccd02c10d_pattern-grey.svg);
    width: 100%;
    height: 60%;
    border-bottom: 4px solid black;
    display: flex;
    justify-content: center;
    align-items: center;

}

.projeto-img img {
    -webkit-user-drag: none;
}

.projeto-sobre {
    display: flex;
    flex-direction: column;
    background-color: white;
    height: 100%;
    width: 100%;
    padding: 5% 5%;
    font-size: 2em;
}

.projeto-sobre p {
    padding-top: 5px;
    font-size: 25px;
}

#contato {
    border-top: 3px solid black;
    background-color: #aa9df0;
    /* background-color: #A1A194;*/
    min-height: 910px;
    position: relative;
    scroll-margin-top: -90px;
    display: flex;
    flex-direction: column;

}

#contato.dark {
    background-color: #383838;
    border-top: 4px solid black;
    background-size: cover;
    transition: 1s;
}

.Botao-sobre-contato {
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    position: relative;
    top: -30px;
    background-color: #C4C4C4;
    border: 4px solid black;
    width: 20%;
    height: 65px;
    display: flex;
    font-size: 1.5em;
}

.Botao-sobre-contato.dark {
    border-color: #ffffff;
    background-color: #383838;
    ;
    color: #E8E8E8;
    transition: 1s;
}

.Botao-sobre-contato h1 {
    position: absolute;
    font-size: 1.3em;
}

.Botao-sobre-contato i {
    position: absolute;
    right: 0;
    font-size: 50px;
}

.contato-conteudo {
    width: 100%;
    height: 100%;
    display: flex;
    position: relative;

}

.redes-sociais-final {
    width: 100px;
    height: 400px;
    gap: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 200px;
    top: 200px;
}


.redes-sociais-final div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;

}

.redes-sociais-final img {
    width: 60px;
    -webkit-user-drag: none;
    user-select: none;
}


#linkedin {
    width: 50px;
}

.redes-sociais-final div:hover {
    transform: scale(1.1);
}

.contato-janela {
    display: flex;
    flex-direction: column;
    background-color: #fcfcfc;
    border-radius: 10px;
    width: 60%;
    height: 700px;
    border: 4px solid black;
    box-shadow: 8px 8px 0 0 #000;
    margin: 0 auto;
    margin-top: 70px;
    margin-bottom: 30px;
}


.contato-janela-headerwrap {
    background-color: #C4C4C4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 100%;
    font-size: 1.5em;
    border-radius: 10px 10px 0px 0px;
    border-bottom: 3px solid black;
    position: relative;
}

#botao-janela {
    position: absolute;
    left: 10px;
}

.contato-janela form {
    width: 100%;
    height: 100%;
    padding: 30px;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.janela-input {
    display: flex;
    justify-content: space-between;
}

.caixa-input {
    position: relative;
    width: 49%;
    margin: 3% 0;
}

.texto {
    position: relative;
    margin-top: 20px;
}


.caixa-input input {
    width: 100%;
    height: 100%;
    padding: 5%;
    border-radius: 5px;
    border: 3px solid black;
    background-color: #C4C4C4;
    color: rgb(0, 0, 0);
    font-size: 1.5em;
    resize: none;
    font-family: "Pixel";
    text-transform: uppercase;
    position: relative;
}

.texto textarea {
    width: 100%;
    height: 300px;
    border: 3px solid black;
    background-color: #C4C4C4;
    padding: 5%;
    font-size: 1.5em;
    resize: none;
    font-family: "Pixel";
    text-transform: uppercase;
    position: relative;
}

.placeholder {
    position: absolute;
    left: 20px;
    top: -24px;
    background-color: #C4C4C4;
    border-radius: 5px;
    font-size: 1.5em;
    padding: 2% 3%;
    font-family: "Pixel";
    text-transform: uppercase;
    color: #000000;
}

/* .botao-enviar {
    background-color: #C13A4B;
    width: 230px;
    height: 65px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.enviar {
    font-size: 20px;
    width: 100%;
    height: 100%;
    border: 3px solid #C4C4C4;
    background-color: #c4c4c4;
    color: black;
} */

.botao-enviar-img {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30%;
    height: 20%;
    margin: 0 auto;
    background: none;
    border: none;
}

.botao-enviar-img img {
    width: 80px;
}

#checked-form {
    font-size: 70px;
    display: none;
    color: green;
}


.abaemail {
    top: 550px;
    left: 250px;
    position: absolute;
    background-color: #ffffff;
    width: 20%;
    height: 100px;
    border: 3px solid black;
    box-shadow: 8px 8px 0 0 #000;
    display: flex;
    flex-direction: column;
    z-index: 1;
    visibility: hidden;
}

.abaemail-header-wrap {
    background-color: #C4C4C4;
}

#botao-fechar-email {
    font-size: 1.5em;
    margin: 5px;
}

#botao-fechar-email:hover {
    color: #C13A4B;
}

.abaemail-conteudo {
    display: flex;
    background-color: white;
    width: 100%;
    height: 100%;
    text-align: center;
    align-items: center;
    justify-content: space-between;
}

.abaemail-conteudo h1 {
    padding-left: 20px;
}

#copiar {
    display: block;
    padding-right: 23px;
    -webkit-user-drag: none;
    -webkit-user-select: none;
}

#copiar:hover {
    color: #A1A194;
}

#checked {
    font-size: 2em;
    display: none;
    color: rgb(78, 129, 2);
    padding-right: 20px;
}

#copy {
    width: 100%;
    height: 40px;
    background-color: black;
    display: flex;
    justify-content: center;

}

#copy div {
    color: white;
    font-size: 20px;
}



@keyframes showRight {
    100% {
        width: 0%;
    }
}

@keyframes zoomIn {
    0% {
        transform: scale(0);
        opacity: 0;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes zoomIn2 {
    0% {
        transform: scale(0);
        opacity: 0;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes zoomOf {
    0% {
        transform: scale(1);
        opacity: 1;
    }

    100% {
        transform: scale(0);
        opacity: 0;
    }
}


@keyframes floatImage {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-24px);
    }

    100% {
        transform: translateY(0);
    }


}

@media screen and (max-height: 970px) {
    .menu-fixo {
        height: 70px;
    }

    .fk::before {
        height: 64%;
        top: 10px;
    }

    .navbar::before {
        height: 64%;
        top: 10px;
    }

    .menu-lateral {
        top: 68px;
    }

    .contato-janela {
        height: 600px;
    }

    .texto textarea {
        width: 100%;
        height: 230px;
        border: 3px solid black;
        background-color: #C4C4C4;
        padding: 5%;
        font-size: 1.5em;
        resize: none;
        font-family: "Pixel";
        text-transform: uppercase;
        position: relative;
    }

}

@media screen and (max-height: 970px) and (max-width: 970px) {
    .texto textarea {
        height: 150px;
    }
}



@media screen and (max-height: 715px) {


    #index {
        min-height: 800px;
    }


    .menu-fixo {
        height: 60px;
    }

    .fk::before {
        height: 55%;
        top: 15px;
    }

    .navbar::before {
        height: 55%;
        top: 15px;
    }

    .contato-janela {
        padding: 0;
        height: 580px;
        padding-bottom: 40px;
    }

    .contato-conteudo {
        padding: 0;
    }


    .redes-sociais-final {
        top: 100px;
    }
}


@media screen and (max-width:1810px) {
    #linguas {
        font-size: 0.8vw;
    }

    .redes-sociais-final {
        left: 180px;
    }

}

@media screen and (max-width: 1851px) {

    .fernandokohn,
    .fernandokohn2 {
        font-size: 4em;
    }

    .conteudo-janela-sobre img {
        width: 24px;
    }

    .relogio-data {
        width: 25%;
    }


}

@media screen and (max-width: 1750px) {
    .abaemail {
        width: 400px;
    }
}

@media screen and (max-width: 1650px) {
    .redes-sociais-final {
        left: 150px;
    }
}


@media screen and (max-width: 1557px) {
    .janela-sobre {
        width: 750px;
        height: 800px;
    }

    .pasta-habilidade {
        width: 30%;

    }

    #tabelaaplicativos {
        font-size: 1em;
    }

    #aplicativo {
        font-size: 0.8em;
        padding-top: 7px;
    }

    .taskbar-janelas {
        width: 65%;
    }

    #linguas {
        font-size: 16px;
    }



}

@media screen and (max-width:1454px) {
    .redes-sociais-final {
        left: 110px;
    }
}


@media screen and (max-width: 1381px) {

    .Conteudo-Index {
        display: none;
    }

    .swiper-container {
        display: flex;
    }

    .swiper-pagination-bullet {
        top: 110px;
    }


    .swiper-slide h6 {
        font-size: 3.5vw;
        padding-bottom: 10px;
        z-index: 1;
        position: relative;
    }

    .fernandokohn,
    .fernandokohn2 {
        font-size: 8vw;
    }

    .Efeito-digitado-2 {
        color: #C13A4B;
    }

    .swiper-slide h2 {
        font-size: 4.5vw;
    }

    .swiper-slide h4 {
        font-size: 3vw;
    }

    .mais-sobre-mim-wrap {
        width: 100%;
        justify-content: start;
        height: auto;
    }

    .mais-sobre-mim {
        width: 30%;
    }

    .mais-sobre-mim h1 {
        font-size: 2vw;

    }

    .butao-wrap {
        justify-content: start;
        padding-top: 30px;
        padding-left: 8%;
    }

    .foto-perfil {
        display: none;
    }

    .caixa-butao a {
        font-size: 4vw;
    }

    .sobre {
        min-height: 1800px;
    }

    .conteudo-sobre {
        flex-direction: column;
        gap: 0;
    }

    .janela-sobre {
        margin: 30px auto;
        width: 90vw;
        height: 850px;
    }

    .conteudo-janela-sobre {
        gap: 0;
    }

    .titulo1,
    .titulo2,
    .titulo3,
    .titulo4 {
        font-size: 40px;
        color: #C13A4B;
    }

    .sobre-1,
    .sobre-2,
    .sobre-3,
    .sobre-4 {
        padding: 20px;
    }

    .descricao {
        font-size: 2.3vw;
    }

    .habilidades {
        width: 90%;
        height: 40%;
        margin: 30px auto;
    }

    .pasta-habilidade {
        width: 20%;

    }

    .habilidades-conteudo {
        height: 710px;
    }

    .taskbar-janelas {
        width: 40%;
        height: 50%;
        bottom: 52px;
    }

    #formulario {
        padding-top: 80px;
    }

    .abaemail {
        left: 100px;
        top: 600px;
    }

}

@media screen and (max-width: 1250px) {
    .redes-sociais-final {
        left: 80px;
    }


}


@media screen and (max-width: 1132px) {
    .placeholder {
        font-size: 20px;
    }
}

@media screen and (max-width: 1112px) {
    .navbar {
        display: none;
    }

    #menu-hamburguer {
        display: block;
    }

    .Botao-sobre {
        width: 30%;
    }

    .sobreh1-wrap {
        font-size: 2.5vw;
    }

    .botao-sobre-wrap {
        font-size: 4.3vw;
    }

    .titulo1,
    .titulo2,
    .titulo3,
    .titulo4 {
        font-size: 3vw;
    }

    .descricao {
        font-size: 2.5vw;
    }

    .Botao-sobre-contato {
        width: 30%;
    }


}

@media screen and (max-width: 1070px) {
    .redes-sociais-final {
        left: 50px;
    }
}

@media screen and (min-width: 1001px) {
    .menu-lateral {
        visibility: hidden;
    }
}

@media screen and (max-width: 981px) {
    .placeholder {
        font-size: 15px;
    }
}

@media screen and (max-width: 970px) {

    .sobre {
        min-height: 2000px;
    }

    .janela-sobre {
        height: 1000px;
    }

    .titulo1,
    .titulo2,
    .titulo3,
    .titulo4 {
        font-size: 3.4vw;
        color: #C13A4B;
    }

    .descricao {
        font-size: 3vw;
    }

    .taskbar-janelas {
        width: 60%;
    }


    .janela-input {
        flex-direction: column;
    }


    .caixa-input {
        width: 100%;
    }

    #send-form {
        width: 60px;
    }

    #formulario {
        padding: 20px;
    }

    .taskbar-janelas {
        bottom: 57px;
    }

}

@media screen and (max-width: 907px) {
    .redes-sociais-final {
        left: 20px;
    }
}

@media screen and (max-width:830px) {

    .swiper-container {
        height: 40%;
        position: relative;
        top: -50px;
        padding-left: 3vw;
        transform: scale(1.3)
    }

    .swiper-slide h6 {
        font-size: 5.4vw;
    }

    .fernandokohn,
    .fernandokohn2 {
        font-size: 8vw;
    }

    .mais-sobre-mim-wrap {
        width: 40vw;
    }

    .mais-sobre-mim {
        width: 100%;
    }

    .caixa-butao {
        padding-right: 8vw;
    }

    .caixa-butao a {
        font-size: 5vw;
    }

    .butao-wrap {
        padding-left: 20%;
    }

    .swiper-pagination-bullet {
        left: -15px;
        top: 180px;
    }

    .janela-sobre {
        margin: 30px auto;
        width: 85vw;
        height: 930px;
    }

    .titulo1,
    .titulo2,
    .titulo3,
    .titulo4 {
        font-size: 3.7vw;
        color: #C13A4B;
    }

    .descricao {
        font-size: 3.2vw;
    }

    .pasta-habilidade {
        width: 30%;

    }

    .taskbar-janelas {
        width: 60%;
    }

    .janela-input {
        gap: 30px;
    }

    .contato-janela form {
        gap: 5px;
    }

    .abaemail {
        left: 50px;
        top: 600px;
    }
}

@media screen and (max-width: 730px) {

    .proj-1,
    .proj-2,
    .proj-3,
    .proj-4 {
        width: 70%;
    }

    .projetos-container {
        max-width: 100%;
        margin-left: 0;
        margin-top: 4%;
    }

    .Botao-sobre-contato {
        width: 50%;
    }

    .Botao-sobre {
        width: 50%;
    }

}

@media screen and (max-width: 713px) {
    .redes-sociais-final img {
        width: 50px;
    }

    .redes-sociais-final {
        left: 10px;
    }

}

@media screen and (max-width: 678px) {
    .janela-sobre {
        height: 950px;
    }
}

@media screen and (max-width:670px) {
    .swiper-container {
        height: 35%;
        padding-left: 1vw;
    }

    #swipeimg img {
        width: 80vw;
    }

    .sobre {
        min-height: 2000px;
    }


    .sobreh1-wrap {
        font-size: 4vw;
    }

    .botao-sobre-wrap {
        font-size: 6vw;
    }

    .janela-sobre {
        height: 930px;
        margin-top: 0;
    }

    .janela-sobre-header h1 {
        font-size: 1.4em;
    }

    .titulo1,
    .titulo2,
    .titulo3,
    .titulo4 {
        font-size: 4.5vw;
        color: #C13A4B;
    }

    .descricao {
        font-size: 3.4vw;
    }

    .taskbar-janelas {
        width: 70%;
    }

    #linguas {
        flex-direction: column;
    }

    #contato {
        min-height: 1100px;
    }

    .contato-conteudo {
        display: flex;
        flex-direction: column;
        justify-content: unset;
        padding-top: 50px;
    }

    .redes-sociais-final {
        flex-direction: row;
        width: 60%;
        height: 10%;
        position: initial;
        top: 0;
        right: 0;
        left: 0;
        margin: 0 auto;

    }

    .contato-janela {
        margin: 0 auto;
        width: 500px;
        height: 640px;
    }

    .texto textarea {
        height: 200px;
    }

    .redes-sociais-final img {
        width: 30px;
    }

    #linkedin {
        width: 30px;
    }

    .abaemail {
        display: none;
    }

}

@media screen and (max-width: 585px) {
    .contato-janela {
        width: 100%;
    }

    .relogio-data {
        width: 35%;
    }
}

@media screen and (max-width: 554px) {
    .contato-janela {
        width: 100%;
    }

    .sobre {
        min-height: 1800px;
    }

    .janela-sobre {
        height: 750px;
    }

    .habilidades {
        height: 46%;
    }

    .taskbar-janelas {
        bottom: 60px;
    }

}

@media screen and (max-width:510px) {


    .index-460res {
        display: flex;
    }

    .conteudo-index-460 {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        position: relative;
        background-color: #C4C4C4;
    }

    .swiper-container {
        display: none;
    }

    #index {
        padding: 0;
        margin: 0;
        justify-content: none;
        align-items: normal;
        min-height: 1100px;
    }

    .efeito-wrap {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        font-size: 8vw;
        width: 100%;
        height: 300px;
        position: relative;
    }

    .efeito-wrap h1 {
        font-size: 8vw;
    }

    .Efeito-digitado-3 {
        color: #C13A4B;

    }

    .butao-wrap {
        padding: 0;
        margin: 0;
    }

    .caixa-butao {
        width: 100%;
        height: 100%;
        padding: 0;
        margin: 0;
        padding-top: 15px;
    }

    .caixa-butao a {
        font-size: 10vw;
    }

    #sobre {
        scroll-margin-top: -30px;
        min-height: 1800px;
    }

    .janela-sobre {
        margin: 0 auto 10px auto;
        width: 80vw;
        height: 850px;
    }

    .conteudo-janela-sobre img {
        width: 20px;
    }

    .titulo1,
    .titulo2,
    .titulo3,
    .titulo4 {
        font-size: 4.3w;
        color: #C13A4B;
    }

    .descricao {
        font-size: 4vw;
    }

    .habilidades {
        height: 40%;
    }


    .habilidades-header h1 {
        font-size: 5vw;
    }

    #linguas {
        font-size: 9px;
    }

    .relogio-data {
        width: 35%;
    }


    .pasta-habilidade {
        width: 40%;

    }

    .habilidades-janela {
        width: 400px;
        height: 250px;
    }

    .habilidades-janela-index img {
        width: 100px;
        padding-left: 30px;
    }

    .barra {
        transform: scale(0.8);
    }

    .taskbar-janelas {
        bottom: 50px;
    }

    .projetos-container {
        max-width: 100%;
        margin-left: 0;
        margin-top: 7%;
    }

    .Botao-sobre-contato,
    .Botao-sobre {
        width: 70%;
    }


    .contato-janela-headerwrap {
        font-size: 20px;
    }

    #botao-janela {
        width: 40px;
    }

    #contato {
        min-height: 900px;
    }

    .contato-janela {
        width: 100%;
        height: 530px;
    }

    .texto textarea {
        height: 100px;
    }

    .botao-enviar-img img {
        width: 50px;
    }

}


@media screen and (max-width: 465px) {
    .projeto-sobre {
        font-size: 20px;
    }

    .projeto-sobre p {
        font-size: 18px;
    }

    #efeito-wrap-460 h1 {
        font-size: 30px;
    }

    #efeito-wrap-460 h2 {
        font-size: 25px;
    }
}

@media screen and (max-width:451px) {

    #index {
        min-height: 1100px;
    }

    .desktop-icones img {
        width: 90%;
    }

    .relogio-data {
        width: 45%;
    }

    .taskbar-janelas {
        width: 90%;
    }

    #projetos {
        min-height: 1000px;
        padding-top: 40px;
    }

    #projetos-titulo {
        font-size: 50px;
    }

    .contato-janela-headerwrap {
        font-size: 14px;
    }

    .img-460 img {
        transform: scale(1.2);
    }

}

@media screen and (max-width: 400px) {
    .img-460 img {
        transform: scale(1.5);
    }
}


@media screen and (max-width: 380px) {

    #index {
        min-height: 1200px;
    }

    .img-460 {
        display: flex;
        position: absolute;
    }

    .img-460 img {
        transform: scale(2);
    }

    .bola-texto {
        transform: scale(0.7);
    }

    .janela-sobre {
        margin: 0 auto;
        width: 75vw;
        height: 750px;
    }

    #botao-redondo {
        width: 10vw;
    }

    .conteudo-janela-sobre img {
        width: 10px;
    }

    .janela-sobre-header h1 {
        font-size: 5vw;
    }

    .titulo1,
    .titulo2,
    .titulo3,
    .titulo4 {
        font-size: 4vw;
    }

    .pasta-habilidade {
        width: 50%;

    }

    .habilidades-janela {
        width: 300px;
        height: 200px;
    }

    .habilidades-janela-index {
        transform: scale(0.7);
        padding: 0;
    }


    .projeto-header-error h1 {
        font-size: 20px;
    }

    .Botao-sobre-contato h1,
    .Botao-sobre-contato i,
    .Botao-sobre h1,
    .Botao-sobre i {
        font-size: 20px;
    }

    .redes-sociais-final {
        gap: 15px;
    }

    .menu-lateral {
        width: 150px;
    }

    .box-lateral a {
        font-size: 25px;
    }
}

@media screen and (max-width: 350px) {
    #efeito-wrap-460 h1 {
        font-size: 20px;
    }

    #efeito-wrap-460 h2 {
        font-size: 20px;
    }

    .janela-sobre {
        height: 900px;
    }

    #relogio {
        font-size: 10px;
    }

    #data {
        font-size: 10px;
    }
}