@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+Thambi+2:wght@700&display=swap');

* {
    padding: 0;
    margin: 0;
    /*font-family: 'Archivo Black', sans-serif; */
    font-family: 'Baloo Thambi 2', sans-serif;
    box-sizing: border-box;
    cursor: url("/fotos/radio-circle-regular-24.png"), auto;
}

#cursor {
    height: 20px;
    width: 20px;
    background: rgba(0, 0, 0, 0.61);
    border-radius: 50%;
    position: absolute;
    display: none;
    transition-duration: 0.3s;
    transition-timing-function: ease-out;
    z-index: 999;
    pointer-events: none;
}


a {
    text-decoration: none;
}

body {
    background-color: #000000;
    padding-top: 10px;
    padding-right: 10px;
    padding-left: 10px;
    height: 100vh;
    cursor: url("/fotos/radio-circle-regular-24.png"), auto;
    overflow: hidden;
}


.menu-fixo {
    background-color: #c4c4c4;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 7px 7px 0px 0px;
    border-bottom: 4px solid #000;
    overflow: hidden;

}



.fk {
    position: relative;
    color: black;
    padding: 0 10%;
    font-size: 1.7em;
}

.fk::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #c4c4c4;
    animation: showRight 1s ease forwards;
    animation-delay: .4s;
}



.navbar {
    padding: 15px 5%;
    position: relative;
}

.navbar::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #c4c4c4;
    animation: showRight 1s ease forwards;
    animation-delay: 1.8s;
}


.navbar a {
    color: #000000;
    padding: 18.52px 20px 19px;
    font-size: 1.5em;
}

.navbar a:hover {
    background-color: #000000;
    color: white;
}


.navbar a.ativado {
    color: #A1A194;
}

main {
    height: 100vh;
}

#conteudo-total {
    height: 100vh;
    background-color: white;
    overflow: auto;
}

#conteudo-total::-webkit-scrollbar {
    width: 25px;
}

#conteudo-total::-webkit-scrollbar-track {
    background: url("https://assets.website-files.com/5e83fdebae1ad8747ffce684/5e864de332df030389abf5bd_pattern-grey.svg");
    background-size: 6px;
    border-left: 4px solid #000000;
}

#conteudo-total::-webkit-scrollbar-thumb {
    background: #c4c4c4;
    border: 4px solid #000000;
    border-right: none;
}

#conteudo-total::-webkit-scrollbar-thumb:hover {
    background-color: #ffffff;
}

#conteudo-total::-webkit-scrollbar-thumb:active {
    background-color: white;
}

section {
    min-height: 100vh;
}

.Index {
    display: flex;
    align-items: center;
    padding: 0 0 0 10%;
    background-color: #ffffff;
    border-bottom: 7px solid black;
}

.Conteudo-Index {
    display: flex;
    flex-direction: column;
    width: 37.5%;
    height: 500px;
    margin-bottom: 3%;
    color: #EDEAE0;
    position: relative;
}


.Conteudo-Index::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgb(255, 255, 255);
    animation: showRight 1s ease forwards;
    animation-delay: .8s;
}


.Conteudo-Index h6 {
    font-size: 2.2em;
    color: black;
    position: relative;
    z-index: 1;

}

.Conteudo-Index h6::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    animation: showRight 2s ease forwards;
    transition-delay: 2s;
    
}

.fernandokohn {
    font-size: 5em;
    position: relative;
    bottom: 5%;
    color: #C70F1F;
    transition: 0.9s;
}


.fernandokohn::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgb(255, 255, 255);
    animation: showRight 1s ease forwards;
    animation-delay: 1s;
}



.fernandokohn:hover {
    color: #292B2E;
    transition: .7s;
}

.Conteudo-Index h2 {
    position: relative;
    font-size: 3.2em;
    bottom: 8%;
    color: black;
}


.Conteudo-Index h2::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgb(255, 255, 255);
    animation: showRight 1s ease forwards;
    animation-delay: .8s;
}



.Conteudo-Index h4 {
    text-align: justify;
    color: black;
    font-size: 2.2em;
    bottom: 6%;
    position: relative;
}


.Conteudo-Index h4::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgb(255, 255, 255);
    animation: showRight 1s ease forwards;
    animation-delay: 1.6s;
}




.Efeito-digitado {
    color: #C13A4B;
}


.mais-sobre-mim {
    margin: auto;
    position: relative;
    overflow: hidden;
    width: 500px;
}



.mais-sobre-mim::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgb(255, 255, 255);
    animation: showRight 1s ease forwards;
    animation-delay: 1.8s;
    z-index: 2;
}



.mais-sobre-mim h1 {
    position: relative;
    color: #000000;
    background-color: #C4C4C4;
    font-size: 1.8em;
    margin: 0px 0px 20px 0px;
    padding: 10px 0px 10px 0px;
    border-style: solid;
    border-width: 3px;
    text-align: center;
    border-color: rgb(0, 0, 0);
    z-index: 1;
    overflow: hidden;
    transition: .2s;
}


.mais-sobre-mim h1:hover {
    border-color: black;
    color: white;
}



.mais-sobre-mim h1::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: #A1A194;
    z-index: -1;
    transition: .5s;
}



.mais-sobre-mim h1:hover::before {
    width: 100%;
}

.caixa-butao {
    width: 20%;
    position: relative;
    margin: auto;
    display: flex;
    justify-content: space-between;
}


.caixa-butao::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgb(255, 255, 255);
    animation: showRight 1s ease forwards;
    animation-delay: 1.8s;
}


.caixa-butao a {
    color: #292B2E;
    display: inline-flex;
    justify-content: center;
    text-decoration: none;
    font-size: 35px;
}


.caixa-butao i:hover {
    color: #C13A4B;
    transition: 1s;
}

.foto-perfil {
    /*background-image: url("https://assets.website-files.com/ 5e87e737ee7085b9ba02c101/5e87e737ee7085fccd02c10d_pattern-grey.svg"); */
    margin: 2% auto 7% auto;
    opacity: 0;
    animation: zoomIn 1s ease forwards, floatImage 5s ease-in-out infinite;
    animation-delay: 2s, 3s;
}

.foto-perfil img {
    width: 500px;
}

.sobre {
    background-image: url(https://assets.website-files.com/5e87e737ee7085b9ba02c101/5e87e737ee7085fccd02c10d_pattern-grey.svg);
    background-size: 6px;
    min-height: 105vh;
    overflow: visible;
}

.Botao-sobre {
    margin: auto;
    align-items: center;
    position: relative;
    top: -40px;
    background-color: #C4C4C4;
    border: 4px solid black;
    width: 25%;
    padding: 8px;
    justify-content: space-between;
    display: flex;
    font-size: 1.5em;
    font-weight: 600;
}

#seta-botao-sobre {
    font-size: 40px;
}

.conteudo-sobre {
    display: flex;
}

.janela-sobre {
    background-color: #A1A194;
    width: 40%;
    height: 700px;
    margin-left: 5%;
    margin-top: 2%;
    border: 3px solid black;
    box-shadow: 8px 8px 0 0 #000;
    display: flex;
    flex-direction: column;

}


.janela-sobre-header {
    background-color: #C4C4C4;
    align-items: center;
    display: flex;
    height: 50px;
    border-bottom: 3px solid black;
}


.janela-sobre-header h1 {
    font-size: 1.9em;
    margin: 0 37% 0 auto;
}

.conteudo-janela-sobre {
    background-color: #ffffff;
    height: 100%;
    padding: 10px;
    text-align: justify;
    text-indent: 15px;
    font-size: 1.7em;

}

.conteudo-janela-sobre p {
    margin-bottom: 12px;

}


.habilidades {
    background-color: #A1A194;
    width: 45%;
    height: 550px;
    margin-left: 5%;
    margin-top: 5%;
    border: 3px solid black;
    box-shadow: 8px 8px 0 0 #000;
    display: flex; 
    flex-direction: column; 
    overflow: hidden;
}


.habilidades-header {
    background-color: #C4C4C4;
    height: 50px;
    border-bottom: 3px solid black;
}

.header-wrap {
    height: 100%;
    width: 100%;
    background-color: #d494ff;
    align-items: center;
    display: flex;
}

.habilidades-header h1 {
    font-size: 1.9em;
    margin: 0 40% 0 auto;
}

.habilidades-conteudo {
    width: 100%;
    height: 100%;
    background-color: #fffdfd;
    background: url(../fotos/desktop-background-teste2.jpg);
    position: relative;
    z-index: 0;
}

.pasta-habilidade {
    width: 20%;
    height: 25%;
    justify-content: center;
    align-items: center;
    color: white;
    display: flex;
    flex-direction: column;
    margin: 15px 0 0 10px;
    position: absolute;
    z-index: 1;
}

.pasta-habilidade:hover {
    background-color: #cacaca31;
    border-radius: 7%;
}

.pasta-habilidade img {
    width: 40%;
    padding-bottom: 8px;
}

.pasta-habilidade h1 {
    font-size: 0.9em;
}


.habilidades-janela {
    background-color: rgb(255, 255, 255);
    width: 550px;
    height: 300px;
    border: 3px solid black;
    border-radius: 5px;
    display: none;
    position: absolute;
    z-index: 2;
    transform: scale(0.8);
}



.habilidades-janela-header {
    background-color: #C4C4C4;
    height: 50px;
    border-bottom: 2px solid black;
}

#botao-fechar {
    margin-left: 10px;
    font-size: 2.5em;
    transition: 1s;
}

#botao-fechar:hover {
    color: red;
}

.habilidades-janela-header h1 {
    margin: 0 37% 0 auto;  
    font-size: 1.7em;
}


.habilidades-janela-index {
    padding-top: 22px;
    display: flex;
    justify-content: space-around;
}

.habilidades-janela-index img {
    width: 140px;
    -webkit-user-drag: none;
}

.barra {
    transform: scale(1.2);
    margin-left: 10px;
    width: 120px;
    border: 2px solid rgb(0, 0, 0);
    height: 20px;
    border-radius: 10px;
    overflow: hidden;
}

.barra span {
    display: block;
    background-color: #C13A4B;
    height: 100%;

}

.porcentagem {
    text-align: center;
    font-size: 1.82em;
}

#barra-js {
    width: 45px;
}

#barra-html, #barra-css {
    width: 60px;
}

.habilidades-rodape {
    margin-top: 53%;
    display: flex;
    width: 100%;
    background-color: #c4c4c4;
    position: absolute;
    justify-content: space-between;
}

.desktop-icones {
    display: flex;
}

.habilidades-rodape img {
    margin: 0;
    padding: 0;
    height: 100%;
}

.relogio-data {
    justify-content: center;
    text-align: right;
    display: inline-block;
    flex-direction: column;
    width: 20%;
    padding-right: 15px;
}


#relogio {
    font-size: 15px;
}

#data {
    font-size: 15px;
}

@keyframes showRight {
    100% {
        width: 0%;
    }
}

@keyframes zoomIn {
    0% {
        transform: scale(0);
        opacity: 0;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes floatImage {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-24px);
    }

    100% {
        transform: translateY(0);
    }


}